<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<style>
			.impar {
				background-color: gray;
			}

			.par {
				background-color: lightgray ;
			}

			.ng-invalid {
				border-color: red;
			}

			.ng-valid {
				border-color: green;
			}			
		</style>
	</head>
	<body ng-controller="ProductoCtrl as ctrl">
		<form name="form" ng-submit="form.$valid && ctrl.agregar()" novalidate>
			<table>
				<tr>
					<td>
						Nombre:
						<input type="text" id="nombre" name="nombre" ng-model="ctrl.producto.nombre" required>
						<span ng-show="form.nombre.$invalid" style="background-color: red">Nombre inválido</span>
					</td>
				</tr>
				<tr>
					<td>
						Precio:
						<input type="number" id="precio" name="precio" ng-model="ctrl.producto.precio" required min="0" max="100">
						<span ng-show="form.precio.$invalid"  style="background-color: red">Precio inválido</span>
					</td>
				</tr>
				<tr>
					<td>
						<button>Agregar</button>
					</td>
				</tr>
			</table>
		</form>

		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Precio</th>
					<th>Mostrar</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="p in ctrl.productos | orderBy:'-precio'" ng-class="{ impar: p.id % 2 == 0, par: p.id % 2 != 0 }">
					<td>{{p.id}}</td>
					<td>{{p.nombre}}</td>
					<td>{{p.precio | number:2 | currency:'€' }}</td>
					<td><a href data-ng-click="ctrl.mostrar(p)">mostrar</a></td>
					<td><a href ng-click="ctrl.eliminar(p.id)">eliminar</a></td>
				</tr>
			</tbody>
		</table>

		<script src="angular.js"></script>
		<script>
			var app = angular.module('app', []);

			app.controller('ProductoCtrl', function() {
				var self = this;

				self.producto = {
					nombre: 'NA',
					precio: 99
				};

				self.productos = [
					{ 
						id: 1, 
						nombre: 'TV', 
						precio: 700
					},
					{ 
						id: 2, 
						nombre: 'Cámara', 
						precio: 300
					},
					{ 
						id: 3, 
						nombre: 'PS3', 
						precio: 300
					}
				];

				var buscarPos = function(id) {
					for (var i in self.productos) {
						if (self.productos[i].id == id)
							return i;
					}
				};

				self.mostrar = function(p) {
					self.producto = p;
				};

				self.eliminar = function(id) {
					var pos = buscarPos(id);
					if (pos)
						self.productos.splice(pos, 1);
				};

				self.agregar = function() {
					var p = angular.copy(self.producto); // crea un clon del objeto
					// var p = {
					// 	nombre: document.getElementById('nombre').value,
					// 	precio: document.getElementById('precio').value
					// };

					self.productos.push(p); 
				};	

				// TODO Implementar: eliminar, mostrar y modificar
			});
		</script>		
	</body>
</html>